<div class="item-info-container">
  <div class="item-info-picture-container">
    <div class="item-info-picture" [style.background-image]="'url(' + pictureURL + ')'"></div>
  </div>

  <div class="item-name-container">
    <p class="item-name">{{name}}</p>
  </div>

  <div class="item-albums-container" *ngIf="albums && albums.length > 0">
      <app-search-results-item *ngFor="let album of albums"
        [itemName]="album.name"
        [pictureURL]="album.pictureURL"
        [itemId]="album.album_id"
        [urlToGo]="'/album'">
      </app-search-results-item>
  </div>

  <div class="playlist-share-info-container" *ngIf="isPlaylist && isCurrUserOwns">
    <div class="playlist-share-info-wrapper">
      <mat-slide-toggle (change)="toggleChange($event)" [checked]="isPlaylistShared === 1">Share playlist</mat-slide-toggle>
    </div>
  </div>

  <div class="item-songs-container" *ngIf="playlist">
    <app-songs-list [currentPlaylist]="playlist"></app-songs-list>
  </div>
</div>
