.header-wrapper{
    background-color:  #181818;
    height: 100%;
    .header{
        display: flex;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .header-buttons{
            margin-left: auto;
        }
    }
}