<div class="header-wrapper">
  <div class="header">
    <app-search></app-search>
    <div class="header-buttons">
      <div class="header-element-container" routerLink="/">
        Main
      </div>
      <div class="header-element-container" routerLink="/user" *ngIf="isUserAuthorized">
        Playlists
      </div>
      <div class="header-element-container" routerLink="/radio">
        Radio
      </div>
      <div class="header-element-container" routerLink="/login" *ngIf="!isUserAuthorized">
        Log in
      </div>
      <div class="header-element-container" routerLink="/registration" *ngIf="!isUserAuthorized">
        Registration
      </div>
      <div class="header-element-container" (click)="logOutClick()" *ngIf="isUserAuthorized">
        Log out
      </div>
    </div>
  </div>
</div>
