<div class="media-footer">
    <mat-toolbar color="primary" >

      <mat-toolbar-row>
        {{ state?.readableCurrentTime }}
        <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || song === undefined">
        </mat-slider>
        {{ state?.readableDuration }}
      </mat-toolbar-row>

      <mat-toolbar-row>

        <div class="song-img-container" *ngIf="song">
          <img class="song-img" [src]="songImage" >
        </div>

        <div class="media-action-bar-container">

          <div class="media-action-bar-title" *ngIf="song">
            <span>{{song?.name}}</span>
          </div>

          <mat-toolbar-row class="media-action-bar">

            <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="pause()" *ngIf="state?.playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>
            <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>

            <div class="volume-control" >
              <button mat-button (click)="onChangeVolume()">
                <mat-icon mat-list-icon>{{volumeIcon}}</mat-icon>
              </button>
              <div class="vol-picker" [style.visibility]="isVolumeChanging">
                <mat-slider min="0" max="1" step="0.01" [value]="volume" (input)="onVolumeSliderChangeEnd($event)" horizontal #volumeControl></mat-slider>
              </div>
            </div>

            <div class="right-icons">
              <button mat-button (click)="showAvailiblePlaylists()" *ngIf="authService.hasValidToken()">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-button (click)="showCurrentPlaylist()">
                <mat-icon>list</mat-icon>
              </button>
            </div>

          </mat-toolbar-row>

        </div>
      </mat-toolbar-row>

    </mat-toolbar>

    <div *ngIf="showPlaylist" class="playlists-container">
      <p>Добавить в плейлист</p>
      <div class="playlist-content" *ngFor="let playlist of playlists">
        <button mat-button (mousedown)="addToSelectedPlaylist(playlist)" type="button">
          <mat-icon>add</mat-icon>
          <span>{{playlist.name}}</span>
        </button>
      </div>
    </div>

  </div>
