<form (ngSubmit)="onClickSubmit(loginForm.value)" #loginForm="ngForm">
  <div class="login-form">
    <div class="login-inputs">
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput name="nickname" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Log in
      </button>
    </div>
  </div>
</form>

<div class="login-error-conatiner" *ngIf="loginError">
  <div class="login-error-text">
    <p>Wrong login or password. Please try again</p>
  </div>
</div>

<div class="login-success-conatiner" *ngIf="loginSuccess">
  <div class="login-success-text">
    <p>You successfully logged in</p>
  </div>
</div>

<!--<button mat-raised-button color="primary" (click)="authTest()">-->
<!--  Only for authorized-->
<!--</button>-->
