<form (ngSubmit)="onClickSubmit(regForm.value)" #regForm="ngForm">
  <div class="registration-form">
    <div class="registration-inputs">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput name="name" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput name="surname" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput name="email" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput name="nickname" ngModel>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" ngModel>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Submit
      </button>
    </div>
  </div>
</form>
<div class="registration-result-container">
  <div class="registration-success-text" *ngIf="registrationSuccess">
    <p>You've registered successfully. Now you can <a routerLink="/login">Log in</a>.</p>
  </div>
</div>
