.registration {

  &-form {
    width: 600px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &-result-container {
    color: limegreen;

    a {
      text-decoration: none;
      color: blue;
    }
  }

}

.registration-inputs {

}

mat-form-field {
  display: block;
  color: white;
  label{
    color: white;
  }
}
