<div class="playlist-song-container">
  <div class="playlist-song-content"  (mouseenter)="hover = 'visible';" (mouseleave)="hover = 'hidden';">
    <div class="song-image-container" [style.background-image]="'url(' + song?.picture_url + ')'">
      <button mat-button [style.visibility]="songIconVisibility" (click)="playSong()" *ngIf="currentSongStopped || currentSongPlaying !== song" >
        <mat-icon mat-list-icon>play_circle_filled</mat-icon>
      </button>
      <button mat-button [style.visibility]="songIconVisibility" (click)="stopCurrentSong.emit()" *ngIf="!currentSongStopped && currentSongPlaying === song" >
        <mat-icon mat-list-icon>pause_circle_filled</mat-icon>
      </button>
      <div [style.visibility]="bubbleVisibility" class="bubble-container">
        <div class="playing-bubble"></div>
      </div>
    </div>
    <div class="song-info-container">
      <p>{{song.name}}</p>
      <span *ngFor="let artist of song?.artists">{{artist.name + ' '}}</span>
    </div>
  </div>
</div>
