.genre-picker-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #181818;
    color: white;
    .genre-picker-container{
        padding: 2px;
    }
}

.current-chosen-radio-genre-container{
    padding: 20px;
    .chosen-genre-container{
        position: relative;
        border-radius: 150px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        .bubble{
            background-color: rgba(0,0,0,.55);
            position: absolute;
            border-radius: 150px;
            width: 300px;
            height: 300px;
        }
        img{
            animation: bubble_out 1s ease-in-out infinite both;
        }
    }
}

@keyframes bubble_out{
    0%,100%{
      transform: scale(.66);
    }
    50%{
      transform: scale(1);
    }
}

.bubble{
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .playing-bubble{
        width: 50px;
        height: 50px;
        display: block;
        z-index: 1;
        backface-visibility: hidden;
        animation: bubble_out .6s ease-in-out infinite both;
    }
    div.playing-bubble{
        width: 20px;
        height: 20px;
        top: 14px;
        left: 14px;
        border-radius: 10px;
        background-color:#ffdb4d;
    }
}
