<div class="genre-picker-wrapper">
  <div class="genre-picker-container">
    <app-genre-item *ngFor="let genre of genres; let i = index"
                    [genre]=genre
                    [color]="getColor(i)"
                    (onClick)="chooseGenre(i)">
    </app-genre-item>
  </div>
  <div class="current-chosen-radio-genre-wrapper" *ngIf="currentChosenGenreIndex >= 0">
    <div class="current-chosen-radio-genre-container">
      <div class="chosen-genre-container"  [style.background-color]="getColor(currentChosenGenreIndex)" >
        <div class="bubble-">
          <div class="playing-bubble"></div>
        </div>
        <img class="genre-icon" [src]="imgSrc(genres[currentChosenGenreIndex].name)" >
      </div>
    </div>`
  </div>
</div>
