<div class="songs-list-container" *ngIf="currentPlaylist">
    <div *ngFor="let song of currentPlaylist.songs">
      <app-song-item [song] = song
                     (changeSong)="changeCurrentSongPlaying(song)"
                     (stopCurrentSong)="stopCurrentSong(true)"
                     (playCurrentSong)="playCurrentSong(true)"
                     [currentSongStopped]="currentSongStopped"
                     [currentSongPlaying]="currentSongPlaying">
      </app-song-item>
    </div>
  </div>
