<div class="playlist-create-container">

  <div class="playlist-uploaded-image-container" [style.background-image]="'url(' + songImage + ')'">
    <div class="playlist-image-container">
      <app-file-uploader
              (onFileChosen)="onFileChosen($event)"
              (onFileCanceled)="onFileCanceled()">
      </app-file-uploader>
    </div>
  </div>

  <div class="playlist-info-fields">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput name="name" #nameInput ngModel>
    </mat-form-field>

    <button class="save-playlist-button" mat-raised-button color="primary" (click)="onClickSubmit(nameInput.value)">
      Save
    </button>
  </div>
</div>
